@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* root colors */
:root {
    --main-cl: #ffffff;
    --button-cl: #e50914;
    --overlay-cl: rgba(0, 0, 0, 0.637);
    --dark-cl: #202020;
    --extra-dark-cl: #121212;
    --light-gray: #313131;
    --gray-cl: #1e1e21;
    --body-background-cl: #181818;
    --smooht-gray-cl: #dadada;
    --google-button-cl: #4c8cf1;
    --spec-base-background: #0f0f0f;
    --spec-elevated-background-inverse: #f1f1f1;
    --spec-call-to-action: #3ea6ff;
}
/* root colors */

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.side_padding {
    padding: 0 150px;
}

a {
    text-decoration: none;
}

@media (max-width: 1300px) {
    .side_padding {
        padding: 0 50px;
    }
}
@media (max-width: 600px) {
    .side_padding {
        padding: 0 10px;
    }
}
